{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="artlicle-content">
        <h2 class="artlicle-content-title text-uppercase">{{ article.title }}</h2>
        <p class="news-info">Por {{ article.author }} / {{ article.creation|date:"j, F, Y" }}</p>
        <img src="{{ article.featured_image.url }}" alt="Imagen de la noticia">
        <p class="news-content py-4">{{ article.body }}</p>
    </div>

    <div class="artlicle-navigation">
        {% if article.prev_article_id %}
            <a href="{% url 'news-details' pk=article.prev_article_id %}">
                <i class="fa-2x fa-regular fa-circle-left"></i>
            </a>
        {% else %}
            <i class="fa-2x fa-regular fa-circle-left disabled-link"></i>
        {% endif %}

        {% if article.next_article_id %}
            <a href="{% url 'news-details' pk=article.next_article_id %}">
                <i class="fa-2x fa-regular fa-circle-right"></i>
            </a>
        {% else %}
            <i class="fa-2x fa-regular fa-circle-right disabled-link"></i>
        {% endif %}
    </div>

    <div class="artlicle-comment">
        <h3 class="artlicle-comment-title text-uppercase">Dejá un comentario</h3>
        <p class="news-content">Tu dirección de correo electrónico no será publicada.</p>

        <form class="d-flex flex-column" method="post">
            <div>{% csrf_token %}</div>
            {% for field in form %}
                <div class="pt-1 pb-2">
                    {{ field }}

                    {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            <button class="btn btn-primary mx-auto" type="submit">Enviar</button>
        </form>
    </div>
</main>
{% endblock %}