{% load static %}

<header id="nav-header" class="header">

    <div class="logo d-frex-row">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/icons/cropped-Logo-Oficial-90x90.png' %}" alt="logo_liberes_liberales">
        </a>

        <a href="{% url 'home' %}">
            <p class="d-frex-row">LIDERES<br>LIBERALES</p>
        </a>
    </div>

    <nav class="nav-bar">
        <button id="button-toggler" data-collapsed="true" class="menu-btn">
            <i class="fa-2x fa-solid fa-bars"></i>
        </button>

        <ul id="navbar-collapse" class="nav-menu collapse-v">
            <br>
            <li class="nav-item"><a href="{% url 'home' %}">INICIO</a></li>
            <li class="nav-item"><a href="{% url 'cabinet' %}">GABINETE</a></li>
            <li class="nav-item"><a href="{% url 'join' %}">SUMATE</a></li>
            <li class="nav-item"><a href="{% url 'news' %}">PRENSA</a></li>
            <li class="nav-item"><a href="{% url 'events' %}">EVENTOS</a></li>
        </ul>

    </nav>

    <div id="nav-search" class="nav-search d-frex-row">

        <form id="nav-search-collapse" class="collapse-h" action="{{ form_action }}">
            {% if form_search %}
                {{ form_search.query }}
            {% else %}
                <input type="text" name="query" class="nav-search-input" placeholder="Escriba aqui" maxlength="100">
            {% endif %}
        </form>

        <button id="search-toggler" data-collapsed="true" class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

    </div>

</header>