{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <h1>Datos por Funcionario</h1>

    <ul>
        {% for nivel, functionaries in functionaries.items %}
            <li>{{ nivel }}:
                <ul>
                    {% for functionary in functionaries %}
                        <li>{{ functionary.name }}</li>
                    {% empty %}
                        <li>No hay functionaries.</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}