{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    {% for nivel, functionaries in functionaries.items %}
    <div class="cabinet-row">
        {% for functionary in functionaries %}
        <div class="avatar-box" data-bs-toggle="modal" data-bs-target="#myModal"
            data-url="{{ request.build_absolute_uri }}/{{ functionary.id }}"
        >
            <img class="avatar-img" src="{{functionary.image.url}}" alt="...">
            <div class="avatar-name">{{functionary.name}}</div>
            <div class="avatar-pos">{{functionary.position}}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
        data-bs-dismiss="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center my-5"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}