{% load static %}

<div class="node" data-bs-toggle="modal" data-bs-target="#miModal"
    data-title="{{node_functionary.name}}"
    data-url="{{ request.build_absolute_uri }}/{{ node_functionary.id }}"
>
    <div class="node-content">
        <img class="" src="{{node_functionary.image.url}}" alt="...">
    </div>
    {{node_functionary.name}}

    <div class="node-team_members">
        {% for sub_node in node_functionary.team_members.all %}
            {% include "components/node-functionary.html" with node_functionary=sub_node %}
        {% endfor %}
    </div>
</div>