.org-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-content {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1;
}

.node-children {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    position: relative;

    max-width: 1200px;
}

/* .node-children::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #ddd;
    top: 0;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
} */

/* .node-children .node {
    position: relative;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .node-children .node::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #ddd;
    top: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
} */

.node-content img {
    width: 80px;
    height: 80px;
}