main {
    position: relative;
}

.modal {
    position: absolute !important;

    background-color: #ffffff80;
}

.cabinet-row {
    display: flex;
    flex-direction: row;

    justify-content: center;

    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.avatar-box {
    display: flex;
    flex-direction: column;

    max-width: 100px;
}

.avatar-img {
    width: 75px;
    height: 75px;

    margin: 0 auto;
}

.avatar-name {
    text-align: center;

    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: bold;
}

.avatar-pos {
    text-align: center;

    font-size: 0.75rem;
}