/* #region separator */
.separator {
    background-color: #0f172a;
    margin: 5px 0;

    width: 100%;
    height: 10px;
}

@media (min-width:768px) {
    .separator {
        height: 20px;
    }
}

@media (min-width:992px) {
    .separator {
        height: 40px;
    }
}
/* #endregion */

/* #region Calendar */

#calendar{
    transform-origin: top left;
    max-width: 800px;
    margin: auto;
    text-transform: uppercase;

    .fc-day-events {
        background-color: #162A4C;
    }
}

@media (max-width: 768px) {
    #calendar {
        transform: scale(0.7); /* Escala más pequeña en pantallas pequeñas */
    }
}