{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/wysiwyg-ui.css' %}">
    <link rel="stylesheet" href="{% static 'externals/fontawesome-free-660-web/css/all.css' %}">

    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/sanitizer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/squire-raw.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/squire-init.js' %}"></script>
{% endblock %}
